:root {
  --color-primary: #ffcc00;
  --color-secondary: #ff6666;
  --color-accent: #cc0066;
  --color-info: #66cccc;
  --color-text: #000;
  --color-gray: #ededed;
  --color-dark-gray: #333;
}

$font-size: 14px;
input, button:focus {
  outline: none;
}

html {
  font-size: $font-size;
}

// date-picker
.vdpComponent {
  width: 100%;
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: $font-size;
  }
}
