:root {
  --color-primary: #ffcc00;
  --color-secondary: #ff6666;
  --color-accent: #cc0066;
  --color-info: #66cccc;
  --color-text: #000;
  --color-gray: #ededed;
  --color-dark-gray: #333;
}

$font-size: 14px;
input, button:focus {
  outline: none;
}

html {
  font-size: $font-size;
}

// used in montly & weekly
.event-list {
  width: 100%;
  text-align: left;
  overflow: auto;
  margin: 0;
  .event {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    cursor: pointer;
    span {
      &:first-child {
        &:before {
          flex: none;
          margin: 0 3px 0 3px;
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          background-color: var(--color-info);
        }
      }
      &:last-child {
        font-size: .9em;
      }
    }
    &:hover, &:focus {
      outline: none;
      background-color: var(--color-gray);
      color: var(--color-text);
    }
    &:active {
      color: var(--color-secondary);
    }
    &.selected {
      background-color: var(--color-primary);
    }
  }
}

// date-picker
.vdpComponent {
  width: 100%;
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: $font-size;
  }
}
