:root {
  --color-primary: #ffcc00;
  --color-secondary: #ff6666;
  --color-accent: #cc0066;
  --color-info: #66cccc;
  --color-text: #000;
  --color-gray: #ededed;
}

button:focus {
  outline: none;
}
